body::-webkit-scrollbar {
	display: none;
}

.Background {
	background: url(../../Image/Wall.jpg);
	margin: 0px;
	background-size: cover;
	background-attachment:fixed;
}


.Filter-light {
	background-color:rgba(255,255,255,0.3);
}

.Filter-dark {
	background-color:rgba(00,00,00,0.3);
}

.Filter-pale {
	background-color:rgba(255,255,255,0.5);
}

.Filter-gray {
	background-color:rgba(230,230,230,0.8);
}

.Paper{
	background-color: rgba(255,255,255,0.7);
	box-shadow:0px 0px 3px 0.5px rgb(128, 130, 155);
}

.LeftF {
	float: left;
}

.GuideLine {
    width: 60px;
    float: right;
}

.GuideLine-Top {
    height: 60px;
    float: right;
}

.List {
	width: 160;
	margin-right: 8px;
}

.Block {
	width: 160px;
	margin-bottom: 8px;
}

.H60 {
	height: 60px;
}

.H100 {
	height: 100px;
}

.H140 {
	height: 140px;
}

.HeadPic {
	border-radius: 30px;
	border: solid;
 	border-width: 5px;
	border-color: white;
    background-color: lightgray;
    box-shadow:0px 0px 2px 1px rgb(150,150,150);
    padding: 20px;
}

