.HeadTitle {
    margin:auto;
    border: solid;
    border-color: rgb(30,83,167);
    border-width:2px;
    border-left: hidden;
    border-right: hidden;
    width:600px;
    margin-bottom: 20px;
    font-family: Ailerons;
	font-weight: 900;
	font-size: 60;
	text-align: center;
	color:rgb(30, 83, 167);
}

.SubTitle {
    border: solid;
    border-color: rgb(30,83,167);
    border-width:2px;
    border-left: hidden;
    border-right: hidden;
    font-family: Ailerons;
	font-weight: 900;
	font-size: 60;
	text-align: center;
    color:rgb(30, 83, 167);
}

.HeadText {
    margin:auto;
	padding-left: 100px;
	padding-right: 100px;
	font-family: "consolas";
	font-weight: 200;
	font-size: 16;
	text-align: center;
    color:rgb(13, 18, 59); 
}

.ListMessage {
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right:10px;
    font-family: "微软雅黑";
	font-weight: 300;
	font-size: 14;
	text-align: center;
    color:rgb(100, 100, 100);
    padding:10px;
}

p2 {
    font-family: "微软雅黑";
	font-weight: 300;
	font-size: 14;
	text-align: right;
    color:rgb(100, 100, 100);
    width:inherit;
}

.CopyRight {
    border-top: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 10px;
    width: 540px;
    margin-left: -270px;
	font-family: "微软雅黑";
	font-weight: 300;
	font-size: 14;
	text-align: center;
    color:rgb(0, 0,0);
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.Article {
    margin-left:80px;
    margin-right:80px;
}

.Preview-word {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid;
    border-width: 1.5px;
    border-color: rgb(200, 200, 200);
}

.Top-word {
    height: 30px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 1.5px;
	border-color: rgb(200, 200, 200);
	text-align: right;
	margin-top: 15px;
	line-height: 40px;
}

.Name {
    font-family: "Arial";
    font-weight: 700;
    color:black;
	font-size: 24;
}

h {
    font-family: "微软雅黑";
    font-weight: 700;
    color:rgb(13, 32, 94);
    font-size: 20;
    text-align: left;
    margin: 0px;
}

h1 {
    font-family: "微软雅黑";
    font-weight: 700;
    font-size: 14;
    margin: 0px;
}

h2 {
    font-family: "微软雅黑";
    font-weight: 700;
    font-size: 16;
    line-height: 30px;
    margin: 0px;
    color:rgb(100,100,100);
}

p {
    font-family: "微软雅黑";
    font-weight: 400;
    color:gray;
    font-size: 14;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    line-height:30px;
}

.Tag {
    font-family: "微软雅黑";
    font-weight: 400;
    color:gray;
    font-size: 15;
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
}

.Flag {
    font-family: "微软雅黑";
    font-weight: 900;
	font-size: 14;
    color:rgb(30, 83, 167);
    float:right;
}