#Background {
    width: 100%;
    min-width: 910px;
    overflow: auto;
}

#EssayFilter {
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 100%;
}

#Blank-top {
    height: 150px;
}

#MainPage {
    width: 910px;
    margin: auto;
    position: relative;
    bottom: 0px;
}

#ArticlePage {
    width: 840px;
    float: left;
}

#List1 {
    width: 160px;
    margin-right: 8px;
    height: 500px;
}

#List2 {
    width: 160px;
    margin-right: 8px;
    height: 500px;
}
#List3 {
    width: 160px;
    margin-right: 8px;
    height: 500px;
}
#List4 {
    width: 160px;
    margin-right: 8px;
    height: 500px;
}
#List5 {
    width: 160px;
    height: 500px;
}