#Background {
    width: 100%;
    min-width: 910px;
    overflow: auto;
}

#BackgroundFilter {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 100%;
}

#Blank-top {
    margin-left: 75px;
    width: 350px;
    height: 72px;
    margin-top: 37px;
    margin-bottom: 37px;
}
#MainPage {
    width: 910px;
    margin: auto;
    position: relative;
    bottom: 0px;
}

#ArticlePage {
    width: 840px;
    float: left;
}

#List1 {
    width: 160px;
    margin-right: 8px;
}

#List2 {
    width: 160px;
    margin-right: 8px;
}
#List3 {
    width: 160px;
    margin-right: 8px;
}
#List4 {
    width: 160px;
    margin-right: 8px;
}
#List5 {
    width: 160px;
}